
/* Common */
/**{border:1px red solid} */
@CHARSET "utf-8";
@import url('default.css');
body, table, input, select, textarea {font-family:'NotoSans','맑은 고딕','Malgun Gothic','NanumGothic','Dotum','돋움','gulim','굴림',Helvetica,sans-serif; font-size:13px; font-weight:normal; color:#4d515a;}
td, div, p, li, dt, dd, input, textarea, select, h1, h2, h3, h4, h5 {font-weight:normal;}
input[type=text], input[type=file], input[type=password] {box-sizing:content-box; height:44px; padding:0 10px; margin:0; border:1px solid #d8d8d8; line-height:42px; background:#fff; box-sizing:border-box; vertical-align:top;}
input[type=radio] {width:26px; height:26px; padding:0; margin:-1px 0 0; border:0; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(/images/blt/ico_radio.png) no-repeat 0 0;}
input[type=checkbox] {width:18px; height:18px; padding:0; margin:0; /*border:0;*/ border:1px solid #e1e1e1; vertical-align:middle; /*-webkit-appearance:none;*/ -moz-appearance:none; -ms-appearance:none; appearance:none; /*background:url(/images/blt/ico_check.png) no-repeat 0 0;*/}
input[type=radio]:checked, input[type=checkbox]:checked {background-position-y:100%;}
input[type=password] {border:1px solid #d8d8d8; height:42px; width:36%; line-height:42px;}
button {display:visible; padding:0; margin:0; border:0; border-radius:0; vertical-align:middle; cursor:pointer; background:none;}
input:disabled {width:14px; border:1px solid #c4c4c4; background:none; background-color:#e0e0e0;}
label.disabled {color:#939393;} 
input +label {margin-left:4px;}
select {height:42px; padding:0 0 0 10px; margin:0; border:1px solid #d8d8d8; font-size:18px; color:#686a6d; text-align:center; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url(../images/blt_select.png) no-repeat 93% 50%;}
select option {font-size:16px; line-height:30px; vertical-align:middle; color:#686a6d;  font-family:'NotoSansL';}
select::-ms-expand, input[type=radio]::-ms-expand, input[type=checkbox]::-ms-expand {display:none;}
textarea {border:1px solid #c4c4c4; padding:10px; margin:0; background:#fff;} 
em {font-style:normal;}
th {font-weight:normal;}
a:link		{color:#4d515a; text-decoration:none;}
a:visited	{color:#4d515a; text-decoration:none;}
a:hover 	{color:#4d515a; text-decoration:none;}
a:focus 	{color:#4d515a; text-decoration:none;}
a:active	{color:#4d515a; text-decoration:none;}
::selection {background:#499735; color:#fff;}
.scr {overflow-y:auto;}
.through {text-decoration:line-through;}
strong, b {font-family:'nsb';}
img {max-width:100%;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#d8d8d8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d8d8d8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d8d8d8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d8d8d8;
}

@font-face {
  font-family:'nsl';
  font-weight:normal;
  src: url(/font/NanumSquareL.eot);
  src: local('Nanum Square Light'),
       local('NanumSquareL'),
       url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumSquareL.woff2) format('woff2'),
       url(/font/NanumSquareL.woff) format('woff'),
       url(/font/NanumSquareL.ttf) format('truetype');
}

@font-face {
  font-family:'ns';
  font-weight:normal;
  src: url(/font/NanumSquareR.eot);
  src: local('Nanum Square Regular'),
       local('NanumSquareR'),
       url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumSquareR.woff2) format('woff2'),
       url(/font/NanumSquareR.woff) format('woff'),
       url(/font/NanumSquareR.ttf) format('truetype');
}

@font-face {
  font-family:'nsb';
  font-weight:normal;
  src: url(/font/NanumSquareB.eot);
  src: local('Nanum Square Bold'),
       local('NanumSquareB'),
       url(/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(/font/NanumSquareB.woff2) format('woff2'),
       url(/font/NanumSquareB.woff) format('woff'),
       url(/font/NanumSquareB.ttf) format('truetype');
}

@font-face {
  font-family:'NotoSans';
  font-weight:normal;
  src: url(/font/NotoSans-Regular.eot);
  src: local(※),
       local('NotoSans-Regular'),
       url(/font/NotoSans-Regular.woff) format('woff'),
       url(/font/NotoSans-Regular.ttf) format('opentype');
}

@font-face {
  font-family:'NotoSansL';
  font-weight:normal;
  src: url(/font/NotoSans-Light.eot);
  src: local(※),
       local('NotoSans-Light'),
       url(/font/NotoSans-Light.woff) format('woff'),
       url(/font/NotoSans-Light.ttf) format('opentype');
}

@font-face {
font-family:'NotoSansB';
  font-weight:normal;
  src: url(/font/NotoSans-Medium.eot);
  src: local(※),
       local('NotoSans-Medium'),
       url(/font/NotoSans-Medium.woff) format('woff'),
       url(/font/NotoSans-Medium.ttf) format('opentype');
}

@font-face {
  font-family:'RobotoL';
  font-weight:normal;
  src: url(/font/Roboto-Light.eot);
  src: local(※),
       local('Roboto-Light'),
       url(/font/Roboto-Light.woff) format('woff'),
       url(/font/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family:'RobotoB';
  font-weight:normal;
  src: url(/font/Roboto-Bold.eot);
  src: local(※),
       local('Roboto-Bold'),
       url(/font/Roboto-Bold.woff) format('woff'),
       url(/font/Roboto-Bold.ttf) format('truetype');
}

/* margin */


/* padding */


/*레이아웃*/
#header{z-index:20;position:relative;width:100%;height:80px;border-bottom:1px solid #d8d8d8;font-family:'nsb';}
.lnb-bg{position:relative;height:80px;background-color:#fff;opacity:0.5;}
.lnb h1{z-index:30;position:absolute;left:10px;top:5px;float:left;padding:3px 20px 0 20px;}
.lnb h1 img {width:107px;} 
.lnb .util{position:absolute;left:150px;top:34px;}
.lnb .util li{position:relative;float:left;padding:0 15px;}
.lnb .util li:before{content:"";display:block;clear:both;position:absolute;left:0;top:3px;width:1px;height:12px;background:#ccc;}
.lnb .util li:first-child:before{background:0;margin:0;width:0;height:0;overflow:hidden}
.lnb .util li a{font-size:13px; color:#818181;font-family:'nsl';}

#gnb{position:absolute;width:100%;left:0;top:32px;}
#header .gnb>ul{clear:both;width:700px;margin:0 auto;text-align:center;}
#header .gnb>ul>li{display:inline-block;font-size:18px;color:#4d515a;letter-spacing:-1px;}
#header .gnb>ul>li:before{content:"";display:inline-block;clear:both;width:3px;height:3px;margin:0 13px 0 17px;background:#b4b6b8;line-height:3px;font-size:0;vertical-align:middle;}
#header .gnb>ul>li:first-child:before{background:0;margin:0;width:0;height:0;overflow:hidden;}

#header .gnb-sub{clear:both;position:absolute;left:0;top:55px;width:100%;height:60px;background:rgba(77,81,90,.8);text-align:center;}
#header .gnb-sub>li{display:inline-block;font-size:16px;color:#fff;vertical-align:middle;line-height:60px}
#header .gnb-sub>li:before {content:""; display:inline-block;clear:both; width:3px; height:3px; margin:0 13px 0 17px; background:#7b7e83; line-height:3px; font-size:0;  vertical-align:middle;}
#header .gnb-sub>li:first-child:before{background:0;margin:0;width:0; height:0; overflow:hidden;} 
#header .gnb-sub>li a{color:#fff;}
 
.searchWrap{position:absolute;right:0;top:0;width:80px;height:80px;}
.searchWrap a{position:relative;display:inline-block;width:80px;height:80px;background:#3ab54a;}
.imgVm {position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;}
.searchWrap .searchCont{position:absolute;right:80px;top:0;background:#3ab54a;height:80px;padding:0 0 0 25px;}
.searchWrap .searchCont input{margin-top:15px;width:150px;border:none;border-bottom:1px solid rgba(255,255,255,0.5);background:#3ab54a;color:#fff;font-size:16px;}
.searchWrap .searchCont input::placeholder{color:#fff;font-family:'NotoSansL';font-style:italic;}

#wrap{position:relative;margin:0 auto;}
.visualWrap{z-index:10;position:absolute;left:0;top:0;width:100%;overflow-y:hidden;}
.visualWrap .visualType1{position:relative;background:url(../images/visual_20180516.jpg) no-repeat 50% 0;background-size:cover;min-height:800px;}
.visualWrap .visualType1 .cont{position:absolute;top:20%;left:22%;}
.visualWrap .visualType1 .cont .txtArea{font-family:'nsl';}
.visualWrap .visualType1 .cont .txtArea p{font-size:36px;color:#fff;margin:20px 0;}
.visualWrap .visualType1 .btn{display:inline-block;width:190px;height:50px;background:#34ab44;color:#fff;text-align:center;line-height:50px;font-size:18px;margin-top:40px;}

/*버튼*/
.btnStyleA {display:inline-block; min-width:90px; height:82px; padding:0 89px; text-align:center; line-height:82px; color:#fff !important; font-size:26px; color:#fff; font-family:'NotoSans'; box-sizing:border-box; background:#3ab54a;} /* 초록 */
.btnStyleB {display:inline-block; min-width:90px; height:82px; padding:0 89px; text-align:center; line-height:82px; color:#3ab54a !important; font-size:26px; color:#fff; font-family:'NotoSans'; box-sizing:border-box; border:1px solid #3ab54a; background:#fff;} /* 초록라인L */
.btnStyleC {display:inline-block; min-width:90px; height:60px; padding:0 10px; text-align:center; line-height:60px; color:#3ab54a !important; font-size:26px; font-family:'NotoSans'; box-sizing:border-box; background:#fff;} /* 초록텍스트 */
.btnStyleD {display:inline-block; min-width:90px; height:60px; padding:0 10px; text-align:center; line-height:60px; color:#fff !important; font-size:26px; font-family:'NotoSans'; box-sizing:border-box; background:#3b3e44;} /* 검정 흰색 */
.btnStyleE {display:inline-block !important; min-width:40px; height:44px; padding:0 15px; text-align:center; line-height:44px; color:#fff !important; font-size:16px; font-family:'NotoSansL'; box-sizing:border-box; background:#868788;} /* 회색 흰색 */
.btnStyleF {display:inline-block !important; min-width:40px; height:44px; padding:0 15px; text-align:center; line-height:40px; color:#fff !important; font-size:16px; font-family:'NotoSansL'; box-sizing:border-box; background:#3ab54a;} /* 초록 */
.btnStyleG {display:inline-block; min-width:120px; height:40px; padding:0 10px; text-align:center; line-height:40px; color:#3ab54a !important; font-size:16px; font-family:'NotoSansL'; box-sizing:border-box; background:#fff;  border:1px solid #3ab54a;} /* 초록라인 흰색 */
.sizeXL {min-width:360px; height:60px; padding:0 10px; line-height:60px; font-size:16px;}
.sizeL {min-width:220px; height:60px; padding:0 10px; line-height:60px; font-size:20px;}
.sizeM {min-width:130px; height:44px; padding:0 10px; line-height:44px; font-size:16px;}
.sizeS {min-width:50px; height:30px; padding:0 4px; line-height:30px; font-size:12px;}

/*회원가입*/
#container{position:relative;width:1200px;margin:0 auto;}
.topVisual{clear:both;display:block;position:relative;width:100%;margin:0 auto;margin:90px 0 50px 0px;text-align:center;}
.topVisual p{font-size:40px;margin-bottom:10px;letter-spacing:-1px;font-family:'ns'}
.topVisual strong{color:#34ab44;}
.topVisual span{font-size:15px;color:#4f5153;font-family:'nsl'}
.memberWrap{clear:both;position:relative;width:558PX;margin:0 auto;}
.memberWrap ul li{clear:both;position:relative;display:inline-block;width:264px;height:377px;border:1px solid #e1e1e1;box-sizing:border-box;}
.memberWrap ul li:first-child{margin-right:20px;float:left;}
.memberWrap ul li:last-child{}
.joinArea .certifyArea:after {content:"";display:block;clear:both;position:absolute; left:50%;top:78px;margin-left:-36px;width:74px;height:66px;background:url("../images/blt_recruit.png") no-repeat 0 0;background-position-x:v0px;background-position-y:-72px;}
.joinArea .certifyArea:before{content:"";display:block;clear:both;position:absolute;left:50%;top:40px;margin-left:-73px;width:146px;height:146px;border-radius:80px;background:#f7f7f7;}
.joinArea li + li:after{background-position-x:-74px;background-position-y:-138px;}
.certifyArea{position:relative;padding:200px 0 50px 0;text-align:center;font-size:22px;}
.certifyArea span{font-size:12px;vertical-align:top}
.memberWrap ul li:first-child .btn{display:block;width:130px;height:44px;background:#34ab44;color:#fff;line-height:44px;font-size:16px;margin:0 auto;}
.memberWrap ul li:last-child .btn{display:block;width:130px;height:44px;background:#868788;color:#fff;line-height:44px;font-size:16px;margin:0 auto}
.subCont{margin-bottom:150px !important;}

.joinStep2{position:relative;}
.joinStep2 h3{font-size:28px;margin-bottom:30px;font-family:'nsb'}
.joinStep2 h3 span{font-size:14px;color:#3ab54a;margin-left:5px;}
.joinStep2 .certifyArea{border:1px solid #eceded;}
.joinStep2 .certifyArea span{display:block;margin:10px 0 20px 0;font-size:15px;vertical-align:top;color:#999;}
.joinStep2 .certifyArea:after {content:"";display:block;clear:both;position:absolute;left:50%;top:78px;margin-left:-36px;width:74px;height:66px;background:url("../images/blt_recruit.png") no-repeat 0 0;background-position-x:-150px;background-position-y:-138px;}
.joinStep2 .certifyArea:before{content:"";display:block;clear:both;position:absolute;left:50%;top:40px;margin-left:-73px;width:146px;height:146px;border-radius:80px;background:#f7f7f7;}
.joinStep3 h3{font-size:28px;margin-bottom:30px;font-family:'nsb'}
.joinStep3 h3 span{font-size:14px;color:#3ab54a;margin-left:5px;}
.joinStep4 h3{font-size:40px;margin-bottom:60px;text-align:center;font-family:'nsb'}
.joinStep4 .boxStyle .joinEndTit{clear:both;position:relative;font-size:26px;}
.joinStep4 .boxStyle .joinEndTxt{clear:both;position:relative;margin:30px 0;font-size:15px;}
.joinStep4 .boxStyle .joinEndTxt span{display:block}
.joinStep4 .boxStyle .btnArea a {margin-bottom:10px;width:370px;font-size:15px;}

/*회원가입 STEP*/
.joinStepArea{position:relative;margin-bottom:50px;}
.joinStepArea ol{width:720px;margin:0 auto;}
.joinStepArea ol li{position:relative;display:inline-block;margin-left:70px;width:122px;height:122px;font-size:16px;color:#3ab54a;font-family:'NotoSansB';text-align:center;border:1px solid #dcdcdc;border-radius:70px;}
.joinStepArea ol li:first-child{margin-left:0}
.joinStepArea ol li:before{}
.joinStepArea ol li span{display:block;margin-top:36px;font-size:14px;color:#999;font-family:'nsl'}
.joinStepArea ol li.on{color:#fff; background:#3ab54a;}
.joinStepArea ol li.on span{color:#fff;}
.joinStepArea ol:afer{content:""; display:block;}
.joinStepArea ol li:before{content:"";display:block;clear:both;position:absolute;left:-40px;top:53px;width:12px;height:14px;background:url("../images/blt.png")no-repeat 0 0;}
.joinStepArea ol li:first-child:before{background:none;}

/*약관*/
.agreeArea .agreeTxtArea{margin-bottom:10px;padding:30px;width:100%;height:225px;border:1px solid #e7e7e7;overflow-y:scroll;box-sizing: border-box;}
.agreeArea .section{padding-bottom:50px}
.agreeArea .section p.tit{font-size:20px;margin-bottom:20px;letter-spacing:-1px}
.agreeArea .section p.tit span{color:#3ab54a;}
.textStyleA .section {padding:0 0 20px;letter-spacing:-1px;}
.textStyleA .section > strong {display:block;font-size:17px;line-height:26px;}
.textStyleA .section > ul {}  
.textStyleA .section > ul > li {padding-top:5px;line-height:22px;font-size:14px;}
.textStyleA .section > ul > li > ul {padding-left:15px;}   
.textStyleA .section > ul > li > ul > li {padding-top:5px;line-height:22px;font-size:14px;} 
.agreeArea .agree {position:relative;float:right;}
.agreeArea .agree p {display:inline-block;}
.agreeArea .agree p label {font-size:14px;}
.allAgree{margin-top:40px; text-align:center;;}
.allAgree a{text-align:center}
.boxStyle{padding:50px;text-align:center;background:#f7f7f7;}
.boxStyle input{width:22px;height:22px;vertical-align:}
.boxStyle label{font-size:18px;line-height:22px;}

/*테이블*/
.liststyleA{width:100%;border-top:1px solid #4d515a;}
.liststyleA th{position:relative;padding:30px 0 30px 30px;border-bottom:1px solid #eceded;font-size:18px;text-align:left;line-height:18px}
.liststyleA th:before{content:'*';display:block;clear:both;position:absolute;left:15px;top:50%;width:4px;height:4px;margin-top:-4px;color:#3ab54a;}
.liststyleA td{padding:10px 0;font-size:18px;line-height:18px;color:#686a6d;border-bottom:1px solid #eceded;}
.liststyleA td p{margin-top:10px;font-size:13px;line-height:13px;color:#999;}
.liststyleA td input[type=text],
.liststyleA td input[type=password]{width:36%;font-size:18px;color:#686a6d;}
.liststyleA td input.bdNone{border:none;background:none;}
.liststyleA td span.ico {display:inline-block;line-height:40px;}
.telArea.bdNone input[type=text]{padding:0;border:none;width:50px;background:none;}
.telArea.bdNone .ico{margin-right:20px;}
.divi{margin-top:5px;}

/*footer*/
#footer{clear:both;position:relative;width:100%;height:63px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}
.footerNaviArea{position:relative;width:1200px;margin:0 auto;}
.footerNavi ul li{display:inline-block;font-size:16px;color:#4f5153;line-height:63px;padding-right:20px;letter-spacing:-2px}
.familySite{clear:both;position:absolute;right:60px;top:10px;width:120px;}
.companyInfo{clear:both;float:left;position:relative;font-size:13px;color:#686a6d;}
.companyInfo li{display:inline-block;letter-spacing:-1px;line-height:21px}
.companyInfo li:before {content:"";display:inline-block;clear:both;width:1px;height:10px;margin:0 13px 0 17px;background:#e6e1e6;line-height:10px;}
.companyInfo li:first-child:before{background:0;margin:0;width:0;height:0;overflow:hidden;}
.companyInfo .copyright{padding-top:8px;color:#999;}
.footerSns{clear:both;position:absolute;right:0;top:100px;}
.footerSns li{display:inline-block;padding:0 15px;}
.companyInfoArea{padding:20px 0 80px 0}

.footerCustomer{float:left;margin-left:40px;display:inline-block;}
.footerCustomer .num{float:left;font-size:13px;color:#999;padding-right:20px;}
.footerCustomer .num span{font-size:30px;font-family:'nsb';display:block;color:#4d515a}
.footerCustomer .time{float:left;border-left:1px solid #e1e1e1;padding:10px 0 10px 20px}
.footerCustomer .time span{display:block;font-size:15px;color:#4f5153;}

@media all and (max-width:1200px) {
.lnb .util{left:auto;position:absolute;right:100px;top:5px;}



}







